.form-input{
border-radius: 1em;
height: 50px;
width: 50%;
}

.form-container button{
    border-radius: 1em;
    height: 50px;
    width: 25%; 
    background: #276076;
    color: white;
}

.form-container{
display: flex;
flex-direction: column;
align-items: center;
border: 2px solid #276076;
width: 50%;
margin: auto;
}

.form-containers .riv{
    width: 300px;
    height: 200px;
    margin: auto;
}

.form-containers{
    background: #D2E2EA;
    min-height: 100vh; /* Ensures it takes the full height of the viewport */
}